fastapi
uvicorn[standard]
openai
pyyaml
python-dotenv
requests
PyMySQL>=1.1.1
DBUtils>=3.0
yfinance
pandas
lxml
ta
schedule
fredapi
matplotlib
feedparser
youtube-transcript-api
google-api-python-client
markdown
pytest
